---
name: Shell
on:
  pull_request:
    paths:
      - "**.sh"
      - ".github/workflows/*"
      - "action.yaml"
      - "gha_extract_shell_scripts.py"

jobs:
  lint-format:
    name: Lint & Format
    # These permissions are needed to:
    # - Checkout the Git repo (`contents: read`)
    # - Post a comments on PRs: https://github.com/luizm/action-sh-checker#secrets
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Extract workflow shell scripts
        id: extract
        uses: ./
      - uses: luizm/action-sh-checker@883217215b11c1fabbf00eb1a9a041f62d74c744  # v0.10.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          sh_checker_comment: true
      # Support investigating linting/formatting errors
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: workflow-scripts
          path: ${{ steps.extract.outputs.output-dir }}
