---
name: Unit Tests
on:
  pull_request:
    paths:
      - "**/*.py"
      - ".github/workflows/unit-tests.yaml"
  push:
    branches: ["main"]
    tags: ["*"]
    paths:
      - "**/*.py"
      - ".github/workflows/unit-tests.yaml"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with unittest
        run: |
          python test/test_reference.py
